# Data
data/
*.parquet

# Splink charts
splink_temp/

# Jupyter Notebook
.ipynb_checkpoints

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

.virtual_documents
.cache
.snakemake
.ploomber
.ipython
slurm-*.out

linkage/person_linkage_case_study/output
linkage/person_linkage_case_study/snakemake_config_overrides.yaml
linkage/person_linkage_case_study/**/*.sif
